ALKAATIBI.json
[{"id":"6c6b1686.76dfe8","type":"debug","z":"619874dd.d7814c","name":"Débugage sécurité","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":856.1000518798828,"y":339.200008392334,"wires":[]},{"id":"18e7b296.01535d","type":"ui_text","z":"619874dd.d7814c","group":"f0541d32.00faf","order":0,"width":0,"height":0,"name":"Front end Message décrypté","label":"Message Décrypté","format":"{{msg.payload}}","layout":"col-center","x":863.1000518798828,"y":283.39998626708984,"wires":[]},{"id":"1cc882cd.58c99d","type":"ui_form","z":"619874dd.d7814c","name":"","label":"","group":"aec2c6af.95f778","order":0,"width":0,"height":0,"options":[{"label":"Cle de cryptage","value":"cle","type":"text","required":true}],"formValue":{"cle":""},"payload":"","submit":"Decoder","cancel":"Annuler","topic":"","x":156.16660690307617,"y":325.00000190734863,"wires":[["3b66d88c.3bdb28"]]},{"id":"3b66d88c.3bdb28","type":"function","z":"619874dd.d7814c","name":"Implémentation couche sécurité - Décryptage","func":"var crypto = context.global.crypto ;\n\n\n\nvar cle = msg.payload.cle;\n\nvar code = flow.get(\"code\")\n\nvar premier = crypto.AES.decrypt(code,cle);\n\nmsg.payload = premier.toString(crypto.enc.Utf8);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":463.16661834716797,"y":327.5555839538574,"wires":[["6c6b1686.76dfe8","18e7b296.01535d"]]},{"id":"b4b25d26.83771","type":"mqtt in","z":"619874dd.d7814c","name":"Topic Mqtt : Code - subscriber ","topic":"code","qos":"2","datatype":"auto","broker":"d1a0e91e.9a9ad8","x":222.4999542236328,"y":97.55557060241699,"wires":[["f553a6f5.197588","63e3d844.a022d8"]]},{"id":"f553a6f5.197588","type":"function","z":"619874dd.d7814c","name":"Stockage sur variable","func":"flow.set(\"code\",msg.payload);\n","outputs":1,"noerr":0,"x":512.5000038146973,"y":43.11111259460449,"wires":[[]]},{"id":"63e3d844.a022d8","type":"ui_text","z":"619874dd.d7814c","group":"f0541d32.00faf","order":1,"width":0,"height":0,"name":"Front end - Message dans le réseau","label":"Message dans le réseau","format":"{{msg.payload}}","layout":"col-center","x":939.5000076293945,"y":95.22222900390625,"wires":[]},{"id":"35dfd547.a9e18a","type":"debug","z":"619874dd.d7814c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":834.9334335327148,"y":540.666669845581,"wires":[]},{"id":"cbb77b3b.4b02d8","type":"ui_text","z":"619874dd.d7814c","group":"1c1440c7.d08d9f","order":0,"width":0,"height":0,"name":"Front end  - Message envoyé ","label":"text","format":"{{msg.payload}}","layout":"col-center","x":856.9334411621094,"y":489.86664867401123,"wires":[]},{"id":"5733dd53.5ee474","type":"ui_form","z":"619874dd.d7814c","name":"","label":"","group":"76318b77.945754","order":0,"width":0,"height":0,"options":[{"label":"Cle de cryptage","value":"cle","type":"text","required":true},{"label":"Message à envoyer","value":"mes","type":"text","required":true},{"label":"AES","value":"aes","type":"switch","required":false},{"label":"DES","value":"des","type":"switch","required":false},{"label":"RSA","value":"rsa","type":"switch","required":false}],"formValue":{"cle":"","mes":"","aes":false,"des":false,"rsa":false},"payload":"","submit":"Envoyer","cancel":"Annuler","topic":"","x":129,"y":538.4666919708252,"wires":[["14030d11.fbc743"]]},{"id":"14030d11.fbc743","type":"function","z":"619874dd.d7814c","name":"Implémentation couche sécurité - Cryptage","func":"var crypto = context.global.crypto ;\n\nvar message = msg.payload.mes;\n\nvar cle = msg.payload.cle;\n\nmsg.payload = crypto.AES.encrypt(message,cle).toString();\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":434.0000534057617,"y":541.0222473144531,"wires":[["35dfd547.a9e18a","cbb77b3b.4b02d8","2609cecb.4c7452"]]},{"id":"2609cecb.4c7452","type":"mqtt out","z":"619874dd.d7814c","name":"Topic Mqtt : Code - Publisher","topic":"code","qos":"","retain":"","broker":"d1a0e91e.9a9ad8","x":862.4445037841797,"y":599.1333055496216,"wires":[]},{"id":"1d37da62.73e706","type":"comment","z":"619874dd.d7814c","name":"@Mouhamadou Lamine Kébé ","info":"","x":986.1666717529297,"y":30.55555534362793,"wires":[]},{"id":"9772f09a.2d43","type":"comment","z":"619874dd.d7814c","name":"------------------------------------------------------------------","info":"","x":568.1667022705078,"y":180.555570602417,"wires":[]},{"id":"5a067939.4f2308","type":"comment","z":"619874dd.d7814c","name":"------------------------------------------------------------------","info":"","x":556,"y":428,"wires":[]},{"id":"f0541d32.00faf","type":"ui_group","z":"","name":"Group 2","tab":"109b34f6.6cf95b","order":2,"disp":false,"width":"10","collapse":false},{"id":"aec2c6af.95f778","type":"ui_group","z":"","name":"Decryptage","tab":"109b34f6.6cf95b","order":1,"disp":true,"width":"10","collapse":false},{"id":"d1a0e91e.9a9ad8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c1440c7.d08d9f","type":"ui_group","z":"","name":"Réception","tab":"3e0190b2.18373","order":2,"disp":true,"width":"12","collapse":false},{"id":"76318b77.945754","type":"ui_group","z":"","name":"Envoi","tab":"3e0190b2.18373","order":1,"disp":true,"width":"12","collapse":false},{"id":"109b34f6.6cf95b","type":"ui_tab","z":"","name":"Alkaati Receiver","icon":"dashboard","order":2},{"id":"3e0190b2.18373","type":"ui_tab","z":"","name":"Alkaati Sender","icon":"dashboard","order":1}]